.welcome-label {
    -fx-font-size: 24px;
    -fx-text-fill: #2a9df4;
    -fx-padding: 20px;
}

.table-view {
    -fx-background-color: #f2f8ff;
    -fx-border-color: #c3d6e8;
    -fx-border-width: 1px;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #e1ecf7;
}

.table-view .table-row-cell:odd {
    -fx-background-color: #edf4fb;
}

.table-view .table-row-cell:even {
    -fx-background-color: #f7faff;
}
